{% extends "base.html" %}
{% block content %}

<h2>Plant Disease Detection</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">

        <!-- Add input fields for selecting accuracy thresholds -->
        <h4>Model 1 Accuracy Threshold:</h4>
        <input type="number" name="model1Threshold" min="0" max="1" step="0.01" value="0.95">
        <h4>Model 2 Accuracy Threshold:</h4>
        <input type="number" name="model2Threshold" min="0" max="1" step="0.01" value="0.95">

        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
                <img id="preview" src="" alt="Image Preview" style="max-width: 300px;">
            </div>
        </div>
        <div>
            <!-- Display prediction confidence here -->
            <h4>Confidence</h4>
            <p>Plant Type: <span id="plant-type-confidence"></span></p>
            <p>Plant Disease: <span id="plant-disease-confidence"></span></p>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span id="plant-type"></span><br>
        <span id="plant-disease"></span>
    </h3>

</div>

{% endblock %}